@using PizzeriaWebApp.Models.Entities;
@model IEnumerable<Product>;

@{
    ViewData["Title"] = "AllProducts";
}

<h1 class="fw-bold">Sfoglia il catalogo</h1>
<div class="row g-2">
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <img src="@product.ProductImage" class="card-img-top img-card" alt="img @product.ProductName">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">Minuti di preparazione: @product.DeliveryMinutes</p>
                            <p class="card-text">Prezzo: @product.Price &euro;</p>
                        </div>
                        @foreach (var i in product.Ingredients)
                        {
                            <p>@i.IngredientName</p>
                        }
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="alert alert-warning">Il catalogo è vuoto</p>
    }
</div>